body{
    background-color: rgb(245, 241, 225);
}

#Hero-Section {
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/574/84/desktop-wallpaper-net-full-stack-developer-full-stack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;  
 